{% schema %}
{
  "name": "Onze gebruikers",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Snel hulp bij iedere noodsituatie"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Description",
      "default": "Binnen enkele seconden ontvangen naasten een alarm en kunnen direct met elkaar bepalen wie gaat helpen."
    },
    {
      "type": "text",
      "id": "button",
      "label": "Button",
      "default": "Bekijk pakketten"
    },
    {
      "type": "text",
      "id": "button-container-text",
      "label": "Text naast/onder button",
      "default": "Geldt voor Basis & Plus"
    },
    {
      "type": "text",
      "id": "quote",
      "label": "Quote",
      "default": "Probeer het uit!"
    }
  ],
  "presets": [
    {
      "name": "Onze gebruikers",
      "category": "Text"
    }
  ]
}
{% endschema %}

{%  stylesheet %}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --primary: #1a94a6;
  --white: #ffffff;
  --bg: #f5f5f5;
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

.onze-gebruikers-container {
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.section-heading {
  font-size: 3rem;
  font-weight: bold;
  color: #1a94a6;
  padding: 2rem 0;
}

#tranding {
  padding: 4rem 0;
}

@media (max-width:1440px) {
  #tranding {
    padding: 7rem 0;
  }
}

#tranding .tranding-slider {
  height: 42rem;
  padding: 2rem 0;
  position: relative;
}

@media (max-width:500px) {
  #tranding .tranding-slider {
    height: 45rem;
  }
}

.tranding-slide {
  width: 24rem; /* Voorheen 37rem */
  height: 30rem; /* Voorheen 42rem */
  position: relative;
}

@media (max-width:500px) {
  .tranding-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .tranding-slide .tranding-slide-img img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.tranding-slide .tranding-slide-img img {
  width: 24rem; /* Voorheen 37rem */
  height: 30rem; /* Voorheen 42rem */
  border-radius: 2rem;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.tranding-slide .tranding-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  
}

.tranding-slide-content .food-price {
  position: absolute;
  top: 2rem;
  left: 2rem;
  color: var(--white);
}

.tranding-slide-content .tranding-slide-content-bottom {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: var(--white);
}

.food-price {
  font-size: 10px !important;
}

.food-name {
  font-size: 14px !important;
  font-weight: bold;
}

.wethouder-name {
  position: absolute;
  font-size: 8px !important; 
  opacity: 80%;
  top: 3.5rem;
  left: 2rem;
}

.food-rating span {
  font-size: 8px !important;
  padding-right: 20px;
}

.food-rating {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}

.rating ion-icon {
  color: #1a94a6;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.tranding-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}

.no-fade, .bottom-fade, .top-fade {
    position: relative;
    width: 100%;
  }
  
  .top-fade::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to bottom, #111, transparent);
    width: 100%;
    height: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .bottom-fade::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(to top, #111, transparent);
    width: 100%;
    height: 200px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

    
  

  
  {%  endstylesheet %}

   <section id="tranding">
      <div class="onze-gebruikers-container">
        <h3 class="text-center section-subheading">Leefsamen meer dan <strong>4000+</strong> actieve klanten!</h3>
        <h1 class="text-center section-heading">Dit zeggen onze gebruikers:</h1>
      </div>
      <div class="onze-gebruikers-container">
        <div class="swiper tranding-slider">
          <div class="swiper-wrapper">
            <!-- Slide-start -->
            <div class="swiper-slide tranding-slide">
              <div class="tranding-slide-img top-fade bottom-fade">
                <img class="" src="https://cdn.shopify.com/s/files/1/0788/1821/4221/files/Wethouder_Willem_Krooneman_gemeente_Elburg_met_Carla_Cats_VNOG_en_bewoonster_mevrouw_Goedens.png?v=1726669261" alt="Tranding">
              </div>
              <div class="tranding-slide-content">
                <h1 class="food-price" style="color: #fff;">Gemeente Elburg</h1>
                <h2 class="wethouder-name" style="color: #fff;">Wethouder Willem Krooneman</h2>
                <div class="tranding-slide-content-bottom">
                  <h2 class="food-name" style="color: #fff;">Mevrouw Goedens - 92 jaar</h2>
                  <h3 class="food-rating" style="color: #fff; font-style: italic">
                    <span>"Laatst werd er 's avonds aan de deur gemorreld en heb toen op de knop gedrukt. Gelukkig kwam mijn dochter meteen kijken."</span>
                  </h3>
                </div>
              </div>
            </div>
            <!-- Slide-end -->
             <!-- Slide-start -->
            <div class="swiper-slide tranding-slide">
              <div class="tranding-slide-img top-fade bottom-fade">
                <img class="" src="https://cdn.shopify.com/s/files/1/0788/1821/4221/files/Miet_Geudens_pers_ED_Bergeijk_jan_24.jpg?v=1726669421" alt="Tranding">
              </div>
              <div class="tranding-slide-content">
                <h1 class="food-price" style="color: #fff;">Gemeente Bergeijk</h1>
                <h2 class="wethouder-name" style="color: #fff;"></h2>
                <div class="tranding-slide-content-bottom">
                  <h2 class="food-name" style="color: #fff;"> Mevrouw Geudens - 91 jaar </h2>
                  <h3 class="food-rating" style="color: #fff; font-style: italic">
                    <span>"Ik ga hier niet weg, ik blijf hier het liefst voor altijd wonen."</span>
                  </h3>
                </div>
              </div>
            </div>
            <!-- Slide-end -->
            <!-- Slide-start -->
            <div class="swiper-slide tranding-slide">
              <div class="tranding-slide-img top-fade bottom-fade">
                <img class="" src="https://cdn.shopify.com/s/files/1/0788/1821/4221/files/Jimmy_Korswagen_van_Veiligheidsregio_Noord_Oost_Gelderland_met_de_Gouden_Rookmelder_2019.jpg?v=1726669565" alt="Tranding">
              </div>
              <div class="tranding-slide-content">
                <h1 class="food-price" style="color: #fff;">Veiligheidsregio Noord- en oost Gelderland</h1>
                <h2 class="wethouder-name" style="color: #fff; top: 4rem;">Winnaar gouden Rookmelder 2019</h2>
                <div class="tranding-slide-content-bottom">
                  <h2 class="food-name" style="color: #fff;">Carla Cats</h2>
                  <h3 class="food-rating" style="color: #fff; font-style: italic">
                    <span>"De slimme rookmelders van Leefsamen hebben levens gered in de Achterhoek."</span>
                  </h3>
                </div>
              </div>
            </div>
            <!-- Slide-end -->

          </div>

          <div class="tranding-slider-control">
            <div class="swiper-button-prev slider-arrow">
              <ion-icon name="arrow-back-outline"></ion-icon>
            </div>
            <div class="swiper-button-next slider-arrow">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </div>
            <div class="swiper-pagination"></div>
          </div>

        </div>
      </div>
    </section>
    

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="{{ 'onze-gebruikers.js' | asset_url }}" defer></script>
   

